.categoryFilter {
  padding: 0.5em 0;
  list-style: none;
  display: flex;
  overflow: hidden;
}

.categoryFilter > li {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: red solid 0.1em;
}

.categoryFilter > li {
  height: 100%;
}

.categoryFilter > li > i {
  cursor: pointer;
}

.categoryFilter > li:hover {
  background-color: red;
}

.categoryFilter > li > img {
  object-fit: contain;
  width: 50%;
  height: auto;
}
