.resultFilter {
  padding: 0.5em 0;
  list-style: none;
  display: flex;
  overflow: hidden;
}

.resultFilter > li {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.resultFilter > li {
  height: 100%;
}

.resultFilter > li > i {
  cursor: pointer;
}

.resultFilter > li > img {
  object-fit: contain;
  width: 50%;
  height: auto;
}
