.searchbar {
  border: solid 0.1em var(--searchbar-color);
  width: 20em;
  border-radius: 2em;
  display: grid;
  grid-template-areas: '1fr 1fr 1fr 1frfr';
  box-shadow: 0.1em 0.1em 0.1em var(--searchbar-color);
  cursor: pointer;
  @apply text-gray-700;
}

.searchbar > a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
}

.searchbar > a:not(:nth-last-child(1), :nth-last-child(2))::before {
  content: '';
  position: absolute;
  height: 70%;
  width: 100%;
  border-right: 0.1em solid var(--searchbar-color);
}

.expanded {
  height: 8em;
}

.collapsed {
}
