.navbar {
    background-color: var(--colour-background);
    position: -webkit-sticky;
    position: fixed;
    width: 100%;
    top: 0;
}

.navbar > a {
    border: 0.1em solid var(--colour-background-accent);
    cursor: pointer;
}