.navbar {
  background-color: var(--colour-background);
  position: fixed;
  width: 100%;
  top: 0;
  display: flex;
}

.navbar > ul {
  height: 100%;
  width: 100%;
  list-style-type: none;
}

.navbar > ul > * {
  cursor: pointer;
  height: 100%;
}

.navbar > ul > li {
  float: left;
  width: 4em;
  margin-right: 0.5em;
  font-size: 1.25em;
  background-color: var(--nav-button-background);
}
.navbar > ul > li:hover {
  background-color: var(--nav-button-background-hover);
}
