.description {
    width: 100%;
    height: 20%;
}

.description > h1 {
    font-size: 1em;
    font-size-adjust: auto;
}

.hotelCard {
    border: solid red 0.01em;
}

.imageCarousel {
    width: 100%;
    height: 80%;
}

.imageCarousel > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}